/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
 }

:root{
  --lapis-lazuli: #2660a4ff;
  --mint-cream: #edf7f6ff;
  --sandy-brown: #f19953ff;
  --copper: #c47335ff;
  --van-dyke-brown: #56351eff;
  background:
  linear-gradient(
      rgba(38, 96, 164, .25), 
      rgba(241, 153, 83, 0.5)
    ),
  url(weather.png);
  min-height: 100%;
}

 .site-grid {
  display: grid;
  grid-template-columns: calc(100vw - (100vw - 100%));
  grid-template-rows: auto 400px;  
  grid-auto-rows: minmax(300px, auto);  
  gap: 0em 0em;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: center;
  grid-template-areas:
    "header"
    "banner"
    "content";
}

.content {
  grid-area: content; 
}

.logo-img{
  filter: invert(33%) sepia(27%) saturate(1709%) hue-rotate(175deg) brightness(95%) contrast(92%);
  width: 1em;
}