// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner{
  grid-area: banner;
  justify-self: stretch; 
  position: relative;

.image-parent{
  overflow: hidden;
  max-height: 100%;
  min-width: 100%;
  background-color: var(--mint-cream);
}

.banner-image{
  min-width: 100%;
  display: block;
}
.b1{
  transform: translateY(-35%);
  filter:blur(3px) opacity(50%)
}
.b2{
  width: 100%;
  transform: translateY(-70%);
  filter:blur(3px) opacity(50%);
}

.content-region{
  position: absolute;
  height: 100%;
  width: 70%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  row-gap: 0px;
  column-gap: 0px;
  align-items: flex-start;
  color: var(--mint-cream);
}

.search-region{
  top: 5em;
  background-color: var(--lapis-lazuli);
  border-radius: 30px;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  flex: 100%;
  height: 45%;
}

.title-text{
  color: var(--lapis-lazuli);
  font-weight: 800;
  font-size: 3em;
  text-decoration: underline;
  flex: 55%;

  a, a:hover, a:visited, a:active {
    color: inherit;
   }
}


}

.flight-search{
  display: flex;
  height: 100%;
  font-size: 1.25em;
  font-weight: 700;

.search-column{
  flex: 25%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-column:hover{
  .icon{
    filter: invert(79%) sepia(14%) saturate(4239%) hue-rotate(323deg) brightness(102%) contrast(89%);
  }
  color: var(--sandy-brown);
  select{
    box-shadow:0px 0px 0px 2px var(--sandy-brown) inset;
  }

}
.form{
  display: contents;
}

.icon{
  flex:.75;
  filter:invert(100%);
}

select{
  font-size: 1em;
  font-weight: 300;
}

}

.buttons
{
  align-items: center;
  flex: 100%;
  text-align: center;
  display: flex;

.search-button{
  flex: 50%;
}

.reset-button{
  flex: 50%
}
input{
  background-color: var(--lapis-lazuli);
  border-radius: 20px;
  color: var(--mint-cream);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 16px;
}
input:hover{
  color: var(--sandy-brown);
  outline: 3px solid var(--sandy-brown);
}
}

.flight-listing-box{
  border-radius: 15px;
  width: 75vw;
  background-color: var(--mint-cream);
  margin: 1em;
  color: var(--lapis-lazuli);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 1em;

  .header-bar{
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--copper);
    padding-left: 1em;
    color: var(--mint-cream);
      h1{
        font-size: 3em;
        font-weight: 800;
      }
      h2{
        margin-left: auto;
        background-color: var(--sandy-brown);
        color: var(--mint-cream);
        width: 30%;
        font-size: 3em;
        text-align: center;
        font-weight: 600;
      }
      .icon{
        height: 1em;
        filter:invert(100%);
      }
}
  .notice{
    background-color: rgb(255, 93, 93);
    color: var(--mint-cream);
    font-size: 1em;
    font-weight: 600;
    width: 75vw;
    padding-left: 1em;
  }

  .flight-card{
  width: 100%;
  display: flex;
  align-items: center;
  }

  .flight-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
    h2{
      font-weight: 400;
    }
    label{
      display: block;
      font-size: 1.5em;
      font-weight: 400;
      padding-left: 1em;
    }
    .icon{
      height: 1em;
      filter: invert(33%) sepia(27%) saturate(1709%) hue-rotate(175deg) brightness(95%) contrast(92%);
    }
    .row{
      display: flex;
      width: 100%;
      column-gap: 2em;
    }
    .form-row{
      display: flex;
      width: 60%;
      column-gap: 2em;
      row-gap: 1em;
    }
    meter{
      outline: none;
      flex: 40%;
      height: 30px;
      border-radius: 3px;
      max-width: 40%;
    }
    input{
      outline: none;
      flex: 50%;
      height: 30px;
      border-radius: 3px;
      max-width: 40%;
      background-repeat: no-repeat;
      padding-left: 40px;
      margin-bottom: 5px;
      margin-top: 5px
    }
    .name{
      background-image: url(bx-user.svg);
    }
    .email{
      background-image: url(bx-mail-send.svg);
    }
  }
  .proceed{
  margin-left: auto;
  width: 30%;
  background-color: var(--lapis-lazuli);
  border-radius: 20px;
  color: var(--mint-cream);
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 8px 16px;
  }
  .proceed:hover{
    color: var(--sandy-brown);
  }
}

.flash{
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: center;
  width: 100%;
  padding-right: 10%;

  .icon{
    height: 2em;
    filter:invert(100%);
    margin-right: auto;
    }
}
.flash-notice{
  background-color: rgb(95, 194, 95);
}
.flash-alert{
  background-color: rgb(255, 93, 93);
}
.purchase{
  margin-left: auto;
  width: 30%;
  background-color: var(--lapis-lazuli);
  border-radius: 20px;
  color: var(--mint-cream);
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 16px;
  }
  .purchase:hover{
    color: var(--sandy-brown);
  }

  .seating-info{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    width: 30%;
    h2{
      font-weight: 400;
    }
    .icon{
      height: 1em;
      filter: invert(33%) sepia(27%) saturate(1709%) hue-rotate(175deg) brightness(95%) contrast(92%);
    }
    .row{
      display: flex;
      width: 100%;
      column-gap: 2em;
      text-align: right;
    }
  }