<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1{
        color: #2660a4ff;
        text-decoration: underline;
      }
      a{
        color: #f19953ff;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <p><small>This is an automated email, please do not reply. For any assistance, please contact our customer support at ###@FlightFinder.com</small></p>
  </body>
</html>
